.user-dashboard-page{
    position: relative;
}

.dashboard__side-menu{
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100%;
    background: rgb(19 31 36);
    border-top: 2px solid rgb( 55 70 79);
    display: flex;
    align-items: center;
  
    

}

.side-menu__header{
    display: none;
}

.side-menu__body {
    display: flex;
    align-items: center;
    width: 100%;
}

.side-menu__body ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}