.language-options{
    background: rgb(19 31 36);
    width: 100%;
    padding: 2%;
    padding-top: 36%;
    display: flex;
    justify-content: center;
}

.language-options__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 10px;

}

.language-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255) !important;
    height: 200px; 
    width: 100%;
    color: black;
    cursor: pointer;
    background: #e54671 !important;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    
}

.language-card a {
    text-decoration: none;
    color: white;
    
}

.language-card:hover{
    background: red;

}